
h2 {
    border: 2px solid purple;
}

p {
    color: hotpink;
    font-size: .9rem;
    font-weight: bold;
}

.title {
    background: red;
    border: 2px solid black;
}

.main-card {
    border: 2px dashed red;
    height: 30vh;
}

.main-table-front {
    border: 2px solid black;
    // display: flex;
    // justify-content: center;
}

.main-table-back {
    border: 2px solid purple;
}

img {
    border-radius: 45px;
    height: 10vh;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 300px;
    // width: 300px;
}

.center-image img {
    // max-width: 100%;
    // max-height: 100%;
}