$myColor: purple;

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  // background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  // background-attachment: fixed;

  font-family: Raleway;
}

h2 {
    border: 1px solid black;
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  a {
    text-decoration: none;
    margin: 1rem;
  }
}


